.navBar {
    /* background: linear-gradient(to right, rgb(88, 254, 88), rgb(128, 255, 253)); */
    background-color: white;
    border-bottom: 1px solid black;

    .container {
      max-width: 800px;
      margin: auto;
      display: flex;
      align-items: center;
      padding: 0;

      .navBar-logo-wrapper {
        float: left;
        display: inline-block;

        #utv_logo {
          max-height: 58px;
          margin-bottom: -3px;
        }
      }

      .navMenu {
         

        .navigation {
          position: relative;
          display: inline-block;
        }
        a {
          color: black;
          padding: 20px 40px;
        }
        :hover {
          color: white;
          background-color: #ffd333;
        }
        .active {
          background-color: #ffca05;
          color: white;
        }
      }
    }

    a {
      margin: 0;
      text-decoration: none;
      font-weight: bold;
      display: block;
    }

}


